.main {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  width: 100%;
  background: linear-gradient(132deg, rgba(255,255,255,1) 0%, rgba(52,202,233,1) 65%, rgba(0,212,255,1) 100%);
}

.headline {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.headline > span {
  font-weight: 700;
}

.sub_headline {
  font-size: 1.5rem;
  margin-top: 20px;
}